.paper-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(63, 63, 63, 0.5) 1px, transparent 1px), linear-gradient(to bottom, rgba(63, 63, 63, 0.5) 1px, transparent 1px);
}

.black-box-shadow {
  box-shadow: 6px 6px 0px black;
}

.wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
}
